*.pid
*.xml
*.csr
*.crt
*.key
.cloud
deps
icloud
packages/device_status.yaml.noload
packages/first_morning.yaml.noload
packages/good_morning.yaml.noload
packages/googlehome.yaml.noload
packages/ha_podcast.yaml.noload
packages/life360.yaml.noload
packages/presence_old.yaml.noload
packages/usps.yaml.noload
private
shell
tts
www
.google.token
.HA_VERSION
.ios.conf
.tile.conf
.uuid
fedexdeliverymanager_cookies.pickle
google_calendars.yaml
gpmpd.conf
home-assistant.log
home-assistant_v2.db
*.db-journal
html5_push_registrations.conf
known_devices.yaml
nest.conf
phue.conf
phue-0017887de967.conf
secrets.yaml
upsmychoice_cookies.pickle
usps_cache.sqlite
lib
*.conf
.*
!/.gitignore